In [30]:
import pandas as pd
import numpy as np
df=pd.read_csv('nyc_weather.csv')
df

          EST  Temperature  DewPoint  ...  CloudCover    Events  WindDirDegrees
0    1/1/2016           38        23  ...           5       NaN             281
1    1/2/2016           36        18  ...           3       NaN             275
2    1/3/2016           40        21  ...           1       NaN             277
3    1/4/2016           25         9  ...           3       NaN             345
4    1/5/2016           20        -3  ...           0       NaN             333
5    1/6/2016           33         4  ...           0       NaN             259
6    1/7/2016           39        11  ...           3       NaN             293
7    1/8/2016           39        29  ...           8       NaN              79
8    1/9/2016           44        38  ...           8      Rain              76
9   1/10/2016           50        46  ...           7      Rain             109
10  1/11/2016           33         8  ...           1       NaN             289
11  1/12/2016           35        15  ...           4       NaN             235
12  1/13/2016           26         4  ...           0       NaN             284
13  1/14/2016           30        12  ...           7       NaN             266
14  1/15/2016           43        31  ...           2       NaN             101
15  1/16/2016           47        37  ...           7      Rain             340
16  1/17/2016           36        23  ...           6  Fog-Snow             345
17  1/18/2016           25         6  ...           2      Snow             293
18  1/19/2016           22         3  ...           1       NaN             293
19  1/20/2016           32        15  ...           2       NaN             302
20  1/21/2016           31        11  ...           1       NaN             312
21  1/22/2016           26         6  ...           3      Snow              34
22  1/23/2016           26        21  ...           8  Fog-Snow              42
23  1/24/2016           28        11  ...           3      Snow             327
24  1/25/2016           34        18  ...           2       NaN             286
25  1/26/2016           43        29  ...           2       NaN             244
26  1/27/2016           41        22  ...           3      Rain             311
27  1/28/2016           37        20  ...           1       NaN             234
28  1/29/2016           36        21  ...           4       NaN             298
29  1/30/2016           34        16  ...           0       NaN             257
30  1/31/2016           46        28  ...           0       NaN             241

[31 rows x 11 columns]

In [6]:
df.describe()

       Temperature   DewPoint  ...  CloudCover  WindDirDegrees
count    31.000000  31.000000  ...   31.000000       31.000000
mean     34.677419  17.838710  ...    3.129032      247.129032
std       7.639315  11.378626  ...    2.629853       92.308086
min      20.000000  -3.000000  ...    0.000000       34.000000
25%      29.000000  10.000000  ...    1.000000      238.000000
50%      35.000000  18.000000  ...    3.000000      281.000000
75%      39.500000  23.000000  ...    4.500000      300.000000
max      50.000000  46.000000  ...    8.000000      345.000000

[8 rows x 8 columns]

# What is the max temperature

In [10]:
df['Temperature'].max()

50

# Which days it rained ?

In [31]:
df['EST']=pd.to_datetime(df['EST'])

In [33]:
df['EST'][df['Events']=='Rain']

8    2016-01-09
9    2016-01-10
15   2016-01-16
26   2016-01-27
Name: EST, dtype: datetime64[ns]

# what is average windspeed ?

In [34]:
df['WindSpeedMPH'].mean()

6.892857142857143

# FInd the Nan values in the dataset

In [36]:
df.isna().any()

EST                     False
Temperature             False
DewPoint                False
Humidity                False
Sea Level PressureIn    False
VisibilityMiles         False
WindSpeedMPH             True
PrecipitationIn         False
CloudCover              False
Events                   True
WindDirDegrees          False
dtype: bool

In [38]:
df['WindSpeedMPH']=df['WindSpeedMPH'].fillna(0.0)

In [39]:
df['WindSpeedMPH']

0      8.0
1      7.0
2      8.0
3      9.0
4      5.0
5      4.0
6      2.0
7      4.0
8      8.0
9      0.0
10     0.0
11     6.0
12    10.0
13     5.0
14     5.0
15     7.0
16     6.0
17    12.0
18    11.0
19     6.0
20     6.0
21     0.0
22    16.0
23     6.0
24     3.0
25     7.0
26     7.0
27     5.0
28     8.0
29     7.0
30     5.0
Name: WindSpeedMPH, dtype: float64

In [40]:
df['WindSpeedMPH'].mean()

6.225806451612903